*.pyc
__pycache__/
*.py[cod]
*$py.class

# django stuff
*.log
*.pot
media/*
db.sqlite3

env/
eb-virt/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
MyBlog/settings_dev.py

# node modules
frontend/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
