{% extends "base_generic.html" %}

{% block formBlock %}
    <form enctype="multipart/form-data" method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
{% endblock formBlock %}

{% block content %}

<ul class="nav nav-tabs justify-content-center">
  {% if sort == "popular" %}
  <li class="nav-item">
    <a class="nav-link active" href="/popular">Popular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/nuevo">Nuevo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/top">Top</a>
  </li>
  {% endif %}
  {% if sort == "nuevo" %}
  <li class="nav-item">
    <a class="nav-link " href="/popular">Popular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/nuevo">Nuevo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/top">Top</a>
  </li>
  {% endif %}
  {% if sort == "top" %}
  <li class="nav-item">
    <a class="nav-link " href="/popular">Popular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/nuevo">Nuevo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/top">Top</a>
  </li>
  {% endif %}
</ul>

<br>

{% if post_list %}

<div class="container-fluid" id="cards">
  <div class="row">

    <div class="card-columns">
      {% for post in post_list %}
      <div class="card w-100" id="{{ post.pk }}">
        {% if post.hasImage %}
        <img class="card-img-top img-responsive" src="{{ post.image.url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{ post.postText }}</p>
        </div>
        <div class="card-footer bg-transparent">
          <div class="row">
            <div class="col-1">
              {% if post.pk in posts_liked %}
              <i class="fas fa-heart like"></i>
              {% else %}
              <i class="fas fa-heart"></i>
              {% endif %}
            </div>
            <div class="col-3">
              <div class="like-counter">{{ post.likes }} likes</div>
            </div>
            
            <div class="col-5 mt-1 text-right">
              <a href="{{ post.get_absolute_url }}">Comentarios</a>
            </div>
            <!-- Your share button code -->
            <div class="col-2">
              <div class="fb-share-button" 
                data-href="{{ post.get_absolute_url }}" 
                data-layout="button">
              </div>
            </div>
          </div>
          {% comment %} <a href="#" class="btn btn-primary">like</a> {% endcomment %}
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

{% else %}
<a>No hay comentarios</a>

{% endif %}

{% endblock content %}
