{% extends "base_generic.html" %}

{% block formBlock %}
<div class="card w-100">
  {% if post.hasImage %}
  <img class="card-img-top img-responsive" src="{{ post.image.url }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <p class="card-text">{{ post.postText }}</p>
  </div>
  <div class="card-footer bg-transparent">
    <div class="row">
      <div class="col-1">
        <i class="fas fa-heart"></i>
      </div>
      <div class="col-3">
        <div class="like-counter">{{ post.likes }} likes</div>
      </div>
      
      <div class="col-5 mt-1 text-right">
        <a href="{{ post.get_absolute_url }}">Comentarios</a>
      </div>
      <!-- Your share button code -->
      <div class="col-2">
        <div class="fb-share-button" 
          data-href="https://www.your-domain.com/your-page.html" 
          data-layout="button">
        </div>
      </div>
    </div>
    {% comment %} <a href="#" class="btn btn-primary">like</a> {% endcomment %}
  </div>
</div>
{% endblock formBlock %}


{% block content %}

<div class="container">

  <div class="row justify-content-center">
    <div class="col-8">
      <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>

  <br>

  {% if comment_list %}

  <div class="row justify-content-center">
    <div class="col-8">

      {% for comment in comment_list %}

      <div class="row">
      <div class="card w-100">
        <div class="card-body">
          <p class="card-text">{{ comment.commentText }}</p>
        </div>
        <div class="card-footer bg-transparent">
          <div class="row">
            <div class="col-1">
              <i class="fas fa-heart"></i>
            </div>
            <div class="col-3">
              <div class="like-counter">1883 likes</div>
            </div>

          </div>
          {% comment %} <a href="#" class="btn btn-primary">like</a> {% endcomment %}
        </div>
        </div>
        </div>
      {% comment %} </div> {% endcomment %}
      {% endfor %}
    </div>
  </div>
</div>

{% else %}
<a>No hay comentarios</a>

{% endif %}

{% endblock content %}