{% extends "base_generic.html" %}

{% block generatedStyle %}
<style>
  .jumbotron {
      background: url("{{ imageUrl.image.url }}");
  }
</style>
{% endblock generatedStyle %}

{% block formBlock %}
    <form enctype="multipart/form-data" method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
{% endblock formBlock %}

{% block content %}

<ul class="nav nav-tabs justify-content-center">
  {% if sort == "popular" %}
  <li class="nav-item">
    <a class="nav-link active" href="/popular">Popular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/nuevo">Nuevo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/top">Top</a>
  </li>
  {% endif %}
  {% if sort == "nuevo" %}
  <li class="nav-item">
    <a class="nav-link " href="/popular">Popular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/nuevo">Nuevo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/top">Top</a>
  </li>
  {% endif %}
  {% if sort == "top" %}
  <li class="nav-item">
    <a class="nav-link " href="/popular">Popular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/nuevo">Nuevo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/top">Top</a>
  </li>
  {% endif %}
</ul>

<br>

{% if post_list %}

<div class="container-fluid" id="cards">
  <div class="row">

    <div class="card-columns">
      {% for post in post_list %}
      <div class="card w-100" id="{{ post.pk }}">
        {% if post.hasImage %}
        <img class="card-img-top img-responsive" src="{{ post.image.url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{ post.postText }}</p>
        </div>
        <div class="card-footer bg-transparent">
          <div class="row">
            <div class="col-1">
              {% if post.pk in posts_liked %}
              <i class="fas fa-heart like"></i>
              {% else %}
              <i class="fas fa-heart"></i>
              {% endif %}
            </div>
            <div class="col-3">
              <div class="like-counter">{{ post.get_score }} likes</div>
            </div>
            
            <div class="col-4 mt-1 text-right">
              <a href="{{ post.get_absolute_url }}">({{ post.commentCounter}}) Comentarios</a>
            </div>
            
            <div class="col-2">
              <!-- Facebook -->
              <div id="share-buttons">
                <a href="http://www.facebook.com/sharer.php?u=https://www.elmuro.pw{{ post.get_absolute_url }}" target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                </a>
              </div>
            </div>

            <div class="col-2 col-md-2">
              <button type="button" class="btn btn-light">
                <i class="fas fa-share-square " style="font-size: 1rem;"></i>
              </button>
            </div>

          </div>
          {% comment %} <a href="#" class="btn btn-primary">like</a> {% endcomment %}
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

{% else %}
<div class="container-fluid" id="cards">
  <div class="row justify-content-center">
    <div class="col-5">
      <a href="/" >
        <p class="text-center" style="font-size: 2rem;">
          No hay comentarios, click para volver!
        </p>
      </a>
    </div>
  </div>
</div>
{% endif %}


{% block pagination %}
{% if is_paginated %}
<div class="container-fluid" >
  <div class="row justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-lg justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previo</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Siguiente</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}
{% endblock %}   


{% endblock content %}
