{% extends "base_generic.html" %}

{% block generatedStyle %}
<style>
  .jumbotron {
      background: url("{{ imageUrl.image.url }}");
  }
</style>
{% endblock generatedStyle %}

{% block opengraph %}
<meta property="og:url"                content="https://www.elmuro.pw{{ post.get_absolute_url }}" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="El Muro! | {{ post.postText }}"/>
<meta property="og:description"        content="Postear cualquier contenido, memes, estupideces, todo es totalmente anonimo, solo ud va a saber quien subio lo que ud subio" />
{% if post.hasImage %}
<meta property="og:image"              content="https://www.elmuro.pw{{ post.image.url }}" />
{% endif %}
{% endblock opengraph %}


{% block formBlock %}
{% comment %} this div is for the javascript to recognize the card {% endcomment %}
<div id="cards">
  <div class="card w-100" id="{{ post.pk }}">
    {% if post.hasImage %}
    <img class="card-img-top img-responsive" src="{{ post.image.url }}" alt="Card image cap">
    {% endif %}
    <div class="card-body">
      <p class="card-text">{{ post.postText }}</p>
    </div>
    <div class="card-footer bg-transparent">
      <div class="row">

        <div class="col-1">
          {% if post.pk in posts_liked %}
          <i class="fas fa-heart like"></i>
          {% else %}
          <i class="fas fa-heart"></i>
          {% endif %}
        </div>

        <div class="col-3">
          <div class="like-counter">{{ post.get_score }} likes</div>
        </div>

        <div class="col-4 mt-1 text-right">
          <a href="{{ post.get_absolute_url }}">Comentarios</a>
        </div>

        <div class="col-2">
          <!-- Facebook -->
          <div id="share-buttons">
            <a href="http://www.facebook.com/sharer.php?u=https://www.elmuro.pw{{ post.get_absolute_url }}" target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
            </a>
          </div>
        </div>

        <div class="col-2 col-md-2">
          <button type="button" class="btn btn-light">
            <i class="fas fa-share-square " style="font-size: 1rem;"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock formBlock %}


{% block content %}

<div class="container">

  <div class="row justify-content-center">
    <div class="col-8">
      <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>

  <br>


  <div class="row justify-content-center">
    <div class="col-8" id="comments">
    {% if comment_list %}

      {% for comment in comment_list %}

      <div class="row">
        <div class="card w-100 mb-3" id="{{ comment.pk }}">
          <div class="card-body">
            <p class="card-text">{{ comment.commentText }}</p>
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-1">
              {% if comment.pk in comments_liked %}
              <i class="fas fa-heart like"></i>
              {% else %}
              <i class="fas fa-heart"></i>
              {% endif %}
              </div>
              <div class="col-8">
                <div class="like-counter">{{ comment.get_score }} likes</div>
              </div>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    {% else %}
      <div class="row">
        <div class="col-6">
          <a>No hay comentarios</a>
       </div>
        <div class="col-12">
          <br class="my-5">
        </div>
      </div>

    {% endif %}

    </div>
  </div>
</div>


{% endblock content %}