/* codigo cogido de
https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns?answertab=active#tab-top
*/

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .nav {
        font-size: 1.5rem;
    }
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

i.like {
    font-size: 2rem;
    color: red;
    /* background: linear-gradient(to left, #ff0000, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

i {
    font-size: 2rem;
    color: #bdbdbd;
}

.like-counter {
    margin-top: 5px;
    margin-left: 10px;
}

.jumbotron {
    background: url(https://orig00.deviantart.net/2eb6/f/2015/295/a/0/rare_pepe_mosaic__not_for_normies_by_mustacheese-d9e1zzz.png);
}

.blank {
    background: #ffffffb0;
}